---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:     16px;
$base-font-weight:   400;
$small-font-size:    $base-font-size * 0.875;
$base-line-height:   1.5;

$spacing-unit:       30px;
$site-footer-height: 60px;
$site-header-height: 56px;
$site-header-border: 1px;

$text-color:         #111;
$background-color:   #fdfdfd;
$brand-color:        #2a7ae2;

$grey-color:         #828282;
$grey-color-light:   lighten($grey-color, 40%);
$grey-color-dark:    darken($grey-color, 25%);

$primary-color:      #8BC34A;
$dark-primary-color: #689F38;

// Width of the content area
$sidebar-width:      350px;
$content-width:      800px;

$on-mobile:          600px;
$on-tablet:          900px;
$on-palm:            $on-tablet;
$on-laptop:          1200px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
