/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-style: normal;
  font-size: 42px;
  margin-left: -2.63px;
  line-height: 1.04;
  letter-spacing: -.015em;
  padding-top: 5px;
  font-weight: 600;
  color: rgba(0,0,0,.84);
}

.post-content {
  margin-bottom: $spacing-unit;

  h2,
  h2,
  h4 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-style: normal;
    font-size: 42px;
    margin-left: -2.63px;
    line-height: 1.04;
    letter-spacing: -.015em;
    padding-top: 5px;
    font-weight: 600;
    color: rgba(0,0,0,.84);
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }
  
  > p {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -.003em;
    line-height: 1.58;
    font-style: normal;
    margin-top: 10px;
    color: rgba(0,0,0,.84);
    strong {
      font-weight: 700;
    }
  }
}


@media only screen and (min-width: $on-laptop) {
  .post-title {
    font-size: 36px;
  }
  .post-content {
    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 18px;
    }
  }
}
