/**
 * Site footer
 */
.site-footer {
  position: absolute;
  // border-top: 1px solid $grey-color-light;
  // padding: $spacing-unit/2 0;
  @media only screen and (min-width: $on-laptop) {
    padding-left: $sidebar-width;
  }
  font-size: 14px;
  text-align: center;
  color: $grey-color;

  bottom: 0;
  left: 0;
  right: 0;
  // width: 100%;
  height: $site-footer-height;
  line-height: $site-footer-height;
  background-color: #f5f5f5;
}
