.container {
  background: linear-gradient(165deg, #6e60cc, #484389);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
  color: #fff;
}

@media print {
  .container {
    display: none;
  }
}

.container a {
  color: #fff;
  opacity: 0.5;
  box-shadow: none;
  font-family: Montserrat, sans-serif;
}

.container .navbar a {
  text-decoration: none;
}

.container .navbar a:hover {
  opacity: 1;
}

.navbar {
  margin: 0 auto 8px;
  max-width: 800px;
  min-height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
}

.navbar .brand {
  margin: 0;
  font-size: 23px;
  font-weight: 900;
  box-shadow: none;
}

.navbar .nav ul,
.navbar .nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar .nav ul li a {
  padding: 20px;
}

.navbar .nav ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.hero {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 30px 100px 60px;
}
