.container {
    background: linear-gradient(165deg,#6e60cc,#484389);
    font-family: Montserrat, sans-serif;
    color: #555;
    font-weight: 400;
    position: relative;
    width: 100%;
}

.wrapper {
    margin: .5rem auto;
    min-height: .125rem;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    margin-top: 0;
}

.brand {
    opacity: .5;
    margin: 0;
    text-decoration: none;
    font-size: 23px;
    font-weight: 900;
    box-shadow: none;
    transition: opacity .2s;
    color: #fff!important;
    font-family: Montserrat, sans-serif;
}